doctype html
html(lang='es')
    head
        title CodeY4k
        link(rel='stylesheet', href="accets/css/main.css")
        link(href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
        link(href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
    body
        header
            h1 hola mundo!
        main
            section
            
        script(type='text/javascript', src='//code.jquery.com/jquery-3.0.0.min.js')
        script(type='text/javascript', src='accets/js/script.js')